.main-container {
    display: grid;
    /* align-items: flex-start; */
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
}

.about-container {
    margin: 20px;
    /* grid-column-start: 1;
    grid-row-start: 1; */
    min-height: 300px;
    min-width: 450px;
}

.about-section p {
    text-align: left;
    padding-left: 86px;
    padding-top: 10px;
}

.main-section-image {
    padding-top: 80px;
    padding-left: 80px;
    width: 30%;
    height: 30%;
    cursor: pointer;
}

.text-box {
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.5px;

    width: 100%;
    height: auto;
    /* width: 700px;
    height: 300px;
    flex-shrink: 0; */
}

.box-title {
    font-weight: 600;
}

.box-description {
    margin-top: 10px;
}


.food-image {
    display: flex;
    justify-content: flex-end;
}

.food-image img {
    width: 600px;
    height: 600px;
    padding-right: 200px;
    padding-top: 120px;
}

.how-does-it-work {
    margin-top: 30px;
}

.how-does-it-work-title {
    font-weight: 600;
}

.numbered-list {
    list-style-type: decimal;
    padding-left: 120px;
}


/*
.inventory-list {
    width: 600px;
    height: auto;
    border: 10px;
    padding-left: 1000px;
} */

.sign-up-button {
    width: 150px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 26px;
    background-color: #0a740e;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 85px;
    margin-top: 20px;
}