/* Apply styles to the form container */
.login-form {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 250px;
}

/* Style the "Login" and "Password" labels as headers */
.form-label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

/* Apply styles to the input fields and the submit button */
.form-control {
  margin-top: 5px;
  padding: 12px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

.form-control:focus {
  border-color: #4CAF50;
}

.login-button {
  background-color: #0a740e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #38833a;
}

/* Forgot Password Button */
.forgot-password-button {
  color: #007BFF;
  font-size: 16px;
  padding-left: 30px;
}

.forgot-password-button:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #614181;
}

/* Center the text for the checkbox */
.checkbox-label {
  display: flex;
  align-items: center;
}

/* change password */
.password-message {
  margin-top: 10px;
  font-size: 16px;
}

.password-success {
  color: #28a745;
  padding: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.password-error {
  color: #dc3545;
  padding: 10px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.registration-success-message {
  margin-top: 50px;
  color: #28a745;
  padding: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-size: 16px;
  text-align: center;
}

.login-success {
  margin-top: 50px;
  padding: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #28a745;
  border-radius: 5px;
  text-align: center;
}

.login-error {
  margin-top: 50px;
  padding: 10px;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #dc3545;
  border-radius: 5px;
  text-align: center;
}