/* Profile Container */

.page-container {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    /* Three rows with the first row being auto-sized */
    grid-template-columns: repeat(2, 1fr);
    /* Two equal columns */
    row-gap: 20px;
    column-gap: 50px;
}

.profile-container {
    /* grid-column-start: 1; */
    grid-row-start: 1;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Profile Header */
.profile-header {
    font-size: 24px;
    text-align: center;
    grid-row-end: 1;
}

/* Logout Button */
.profile-logout-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Password Header */
.password-header {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Password Label */
.password-label {
    display: block;
    color: #333;
}

/* Password Input Fields */
.password-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

/* Focus styling for password inputs */
.password-input:focus {
    border-color: #4CAF50;
}


/* Change Password Button */
.change-password-button {
    background-color: #0a740e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}


.profile-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}


/* Left side styles */
.left-section {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Right side styles */
.preferences-section {
    flex: 1;
    max-width: none;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preferences-header {
    font-size: 18px;
    margin-bottom: 10px;
}

.preferences-columns {
    display: flex;
    flex-wrap: wrap;
}

.preferences-column {
    width: 48%;
    box-sizing: border-box;
    margin-right: 4%;
}

.preferences-column label {
    display: block;
    margin-bottom: 8px;
}

/* Button to update preferences */
.update-preferences-button {
    background-color: #0a740e;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}